<h2 id="sec0"><%= t "books" %></h2>
<hr>
<div class="row">
  <div class="col-md-4">
    <a href = "#" class = "thumbnail">
      <img src="//placehold.it/300x300" class="img-responsive">
    </a>
  </div>
  <div class="col-md-4">
    <a href = "#" class = "thumbnail">
      <img src="//placehold.it/300x300" class="img-responsive">
    </a>
  </div>
  <div class="col-md-4">
    <a href = "#" class = "thumbnail">
      <img src="//placehold.it/300x300" class="img-responsive">
    </a>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <a href = "#" class = "thumbnail">
      <img src="//placehold.it/300x300" class="img-responsive">
    </a>
  </div>
  <div class="col-md-4">
    <a href = "#" class = "thumbnail">
      <img src="//placehold.it/300x300" class="img-responsive">
    </a>
  </div>
  <div class="col-md-4">
    <a href = "#" class = "thumbnail">
      <img src="//placehold.it/300x300" class="img-responsive">
    </a>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <a href = "#" class = "thumbnail">
      <img src="//placehold.it/300x300" class="img-responsive">
    </a>
  </div>
  <div class="col-md-4">
    <a href = "#" class = "thumbnail">
      <img src="//placehold.it/300x300" class="img-responsive">
    </a>
  </div>
  <div class="col-md-4">
    <a href = "#" class = "thumbnail">
      <img src="//placehold.it/300x300" class="img-responsive">
    </a>
  </div>
</div>
