<div class="col-md-3" id="leftCol">
  <ul class="nav nav-stacked" id="sidebar">
    <li><a href="#"><%= t "books" %></a></li>
    <li><a href="#"><%= t "categories" %></a></li>
    <li><a href="#"><%= t "requests" %></a></li>
    <li><a href="#"><%= t "categories" %></a></li>
  </ul>
</div>
